@import 'tailwindcss';
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-50: #F0F5FF;
    --color-primary-100: #E5EDFF;
    --color-primary-200: #CDDBFE;
    --color-primary-300: #B4C6FC;
    --color-primary-400: #8DA2FB;
    --color-primary-500: #6875F5;
    --color-primary-600: #5850EC;
    --color-primary-700: #5145CD;
    --color-primary-800: #42389D;
    --color-primary-900: #362F78;

    --color-gray-50: #f5f8fa;
    --color-gray-100: #e9eef5;
    --color-gray-200: #D6DEE9;
    --color-gray-300: #BFCADD;
    --color-gray-400: #9AA8C2;
    --color-gray-500: #7687A8;
    --color-gray-600: #5B6D8F;
    --color-gray-700: #455273;
    --color-gray-800: #2F384F;
    --color-gray-900: #1D2433;


}

@custom-variant dark (&:where(.dark, .dark *));